AUTH_SECRET=
AUTH_URL=http://localhost:3000

AUTH_MICROSOFT_ENTRA_ID_ID=         # Microsoft Entra ID Application (Client) ID
AUTH_MICROSOFT_ENTRA_ID_SECRET=     # Microsoft Entra ID Application Client Secret VALUE (not secret ID)
AUTH_MICROSOFT_ENTRA_ID_ISSUER=https://login.microsoftonline.com/<tenant-id>/v2.0

ENTRA_DRG_ADMIN_GROUP_ID=
ENTRA_DRG_STAFF_GROUP_ID=

# Create a new app registration "DRG IMS Graph Invitations"

AZURE_TENANT_ID=
AZURE_GRAPH_CLIENT_ID=      # Application (client) ID
AZURE_GRAPH_CLIENT_SECRET=
APP_URL=http://localhost:3000